.git
.env
.mypy_cache
.pnpm-store
.pytest_cache
.test-cache
.ruff_cache
.uv-cache
.venv
**/.next
**/__pycache__
**/node_modules
tmp
backups
test-results
playwright-report
**/test-results
**/playwright-report
